@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600&family=Montserrat&display=swap');

ul{
    list-style: none;
}
.detail-pizzeria-container{
    width: 1000px;
    border: solid 1px black;
    margin: auto;
}

.detail-pizzeria-image{
    height: 400px;
    margin: auto;
}

.detail-pizzeria-container-image{
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: solid 1px black;
}
.detail-pizzeria-h2 {
    font-size: 2em;
    font-weight: bolder;
    color: #556b2f;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
}

.detail-pizzeria-p{
    list-style: none;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 400;
}

.detail-pizzeria-info{
    padding: 15px;
}

.detail-pizzeria-review{
    width: 85%;
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    margin: auto;
    margin-top: 12px;
    border-top: 2px solid #556b2f;

}
.detail-pizzeria-h3{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #232b2b;
    font-weight: 600;
    padding-left: 10%;
    font-size: 25px;
}
.detail-pizzeria-review-p{
    padding-left: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.detail-pizzeria-review-day{
    display: block;
}
.detail-pizzeria-review-button{
    width: 50%;
}